<div class="content" ng-controller="LoginController as loginCtrl">

    <menu-directive></menu-directive>

    <form name="loginForm"
          ng-submit="loginForm.$valid && loginCtrl.authUser(loginCtrl.login, loginCtrl.pass)" novalidate>

            <label for="login">Login</label>
            <input id="login" type="text" ng-model="loginCtrl.login" />

            <label for="pass">Password</label>
            <input id="pass" type="password" ng-model="loginCtrl.pass" />

            <input type="submit" value="submit">

    </form>

</div>

