<div class="content" ng-controller="LoginController as loginCtrl">

    <menu-directive></menu-directive>

    <form name="loginForm"
          ng-submit="loginForm.$valid && loginCtrl.authUser(loginCtrl.login, loginCtrl.pass)" novalidate>

        <!--<div ng-show="loginForm.login.$error.required" style="color:maroon" role="alert">-->
            <!--<div >You did not enter a field</div>-->
        <!--</div>-->

        <div>
        <label for="login">Login</label>
        <input id="login"
               name="login"
               type="text"
               ng-model="loginCtrl.login"
               required
                />
        </div>


        <!--<div ng-show="loginForm.pass.$error.required" style="color:maroon" role="alert">-->
            <!--<div >You did not enter a field</div>-->
        <!--</div>-->


        <div>
        <label for="pass">Password</label>
        <input id="pass"
               name="pass"
               type="password"
               ng-model="loginCtrl.pass"
               required
        />
        </div>

        <input type="submit" value="submit">

    </form>

</div>