<div class="content" ng-controller="LoginController as loginCtrl">
    
    <form name="loginForm" ng-submit="loginForm.$valid && loginCtrl.authUser(loginCtrl.login, loginCtrl.pass)" novalidate>

        <fieldset class="form-group">
            <label for="login">Login</label>
            <input type="text" ng-model="loginCtrl.login" name="login">
        </fieldset>

        <fieldset class="form-group">
            <label for="pass">Password</label>
            <input type="password" ng-model="loginCtrl.pass" name="pass">
        </fieldset>

        <fieldset class="form-group">
            <input type="submit" value="submit">
        </fieldset>

    </form>

</div>

