<div class="content" ng-controller="TaskController as taskCtrl" ng-init="taskCtrl.getTasks();">

    <menu-directive></menu-directive>

<table>
    <thead>
        <tr class="filter">
            <td><input type='text' ng-model="Tsearch.title" placeholder="Search by title" /></td>
            <td><input type='text' ng-model="Tsearch.date" placeholder="Search by date"/></td>
            <td>
                <select ng-model="Tsearch.author" ng-options="user.id as user.login for user in taskCtrl.users" placeholder="users">
                    <option value="">***</option>
                </select>
            </td>
            <td>
                <select ng-model="Tsearch.assigner" ng-options="user.id as user.login for user in taskCtrl.users">
                    <option value="">***</option>
                </select>
            </td>
            <td>
                <!--<input type="button" class="clear">-->                
            </td>
        </tr>
        <tr class="sort">
            <td ng-click="TsortType = 'title';
                TsortReverse = !TsortReverse">title</td>
            <td ng-click="TsortType = 'created';
                TsortReverse = !TsortReverse">date</td>
            <td ng-click="TsortType = 'author';
                TsortReverse = !TsortReverse">author</td>
            <td ng-click="TsortType = 'assigner';
                TsortReverse = !TsortReverse">assigner</td>
            <td>status</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in taskCtrl.tasks| filter : Tsearch | orderBy: TsortType: TsortReverse">
            <!--ng-hide="task.status == 0"-->
            <td ng-bind="task.title"></td>
            <td ng-bind="task.created"></td>
            <td ng-bind="taskCtrl.asUser(task.author)"></td>
            <td ng-bind="taskCtrl.asUser(task.assigner)"></td>
            <td ng-bind="taskCtrl.asStatus(task.status)"></td>
            <td>
                <input type="button" ng-click="taskCtrl.closeTask(task.id);taskCtrl.getTasks();" class="check">
            </td>

        </tr>
    </tbody>
</table>

<form ng-submit="taskCtrl.putTask(taskCtrl.curTask);taskCtrl.getTasks();">
    <input type="text" ng-model="taskCtrl.curTask.title" placeholder="Add task title">
    <select ng-options="user.id as user.login for user in taskCtrl.users" ng-model="taskCtrl.curTask.author"></select>
    <select ng-options="user.id as user.login for user in taskCtrl.users" ng-model="taskCtrl.curTask.assigner"></select>
    <input type="submit" value="Put task" ng-disabled="taskCtrl.isDisabled()"/>
    
</form>
</div>