<div ng-controller="TaskController as taskCtrl" ng-init="taskCtrl.getTasks();">
    
    <a class="btn light-blue darken-3 z-depth-2" ui-sref="tasks" >Tasks</a>
    <a class="btn light-blue darken-4 z-depth-1"  ui-sref="users" >Users</a>
    <a class="btn light-blue darken-4 z-depth-1"  style="float:right" ui-sref="login" ng-click="loginCtrl.logOut()">
        <i class="material-icons right">exit_to_app</i>Logout
    </a>
    
    <div>
        <ul class="row">
            <!--ng-hide="task.status == 0"-->
            <li class="col l12">
                <!--<td style="width:55%"><input type='text' ng-model="Tsearch.title" placeholder="Search by title" /></td>-->
                <span class="col l6"><input type='text' ng-model="Tsearch.title" placeholder="Search by title" /></span>
                <!--<td style="width:15%"><input type='text' ng-model="Tsearch.date" placeholder="Search by date"/></td>-->
                <span class="col l2"><input type='text' ng-model="Tsearch.date" placeholder="Search by date"/></span>
                <!--            <td style="width:10%">
                                <select class="browser-default" ng-model="Tsearch.author" ng-options="user.id as user.login for user in taskCtrl.users" placeholder="users">
                                    <option value="">***</option>
                                </select>
                            </td>-->
                <span class="col l1">
                    <select class="browser-default" ng-model="Tsearch.author" ng-options="user.id as user.login for user in taskCtrl.users" placeholder="users">
                        <option value="">***</option>
                    </select>
                </span>
                <!--            <td style="width:10%">
                                <select ng-model="Tsearch.assigner" ng-options="user.id as user.login for user in taskCtrl.users">
                                    <option value="">***</option>
                                </select>
                            </td>-->
                <span class="col l1">
                    <select class="browser-default" ng-model="Tsearch.assigner" ng-options="user.id as user.login for user in taskCtrl.users">
                        <option value="">***</option>
                    </select>
                </span>
                <!--        <tr class="sort">
                            <td ng-click="TsortType = 'title';
                                TsortReverse = !TsortReverse" style="width:55%">title</td>
                            <td ng-click="TsortType = 'created';
                                TsortReverse = !TsortReverse" style="width:15%">date</td>
                            <td ng-click="TsortType = 'author';
                                TsortReverse = !TsortReverse" style="width:10%">author</td>
                            <td ng-click="TsortType = 'assigner';
                                TsortReverse = !TsortReverse" style="width:10%">assigner</td>
                            <td style="width:5%">status</td>
                        </tr>-->
            </li>
        </ul>
    </div>
    <div>
        <ul class="row highlight">
            <!--ng-hide="task.status == 0"-->
            <li ng-repeat="task in taskCtrl.tasks| filter : Tsearch | orderBy: TsortType: TsortReverse" class="col l12 highlight">
                <span ng-bind="task.title" class="col l6 "></span>
                <span class="col l2" ng-bind="task.created"></span>
                <span class="col l1" ng-bind="taskCtrl.asUser(task.author)"></span>
                <span class="col l1" ng-bind="taskCtrl.asUser(task.assigner)"></span>
                <span class="col l1" ng-bind="taskCtrl.asStatus(task.status)"></span>
                <span class="col l1">
                    <button ng-click="taskCtrl.closeTask(task.id);taskCtrl.getTasks();" class="btn-floating btn-small light-blue darken-4">
                        <i class="material-icons">check</i>
                    </button>
                </span>
            </li>
        </ul>
    </div>
    <div class="row">
        <form ng-submit="taskCtrl.putTask(taskCtrl.curTask);taskCtrl.getTasks();" class="col l12">
            <input type="text" ng-model="taskCtrl.curTask.title" placeholder="Add task title" class="col l6">
            <!--<select ng-options="user.id as user.login for user in taskCtrl.users" ng-model="taskCtrl.curTask.author" ></select>-->
            <select class="col l1 browser-default offset-l2" ng-options="user.id as user.login for user in taskCtrl.users" ng-model="taskCtrl.curTask.author">
            </select>
            <select class="col l1 browser-default" ng-options="user.id as user.login for user in taskCtrl.users" ng-model="taskCtrl.curTask.assigner" >
                <i class="material-icon">account_circle</i>
            </select>
            <span class="col l1 offset-l1">
                <button class="btn-floating btn-small light-blue darken-4" type="submit" value="" ng-disabled="taskCtrl.isDisabled()"><i class="material-icons">add</i></button>
            </span>
        </form>
    </div>
</div>