<div ng-controller="TaskController as taskCtrl" ng-init="taskCtrl.getTasks();">
    <div class="content" style="margin: 0px 22px 0px 22px;">
        <a class="btn light-blue darken-3 z-depth-2" ui-sref="tasks" >Tasks</a>
        <a class="btn light-blue darken-4 z-depth-1"  ui-sref="users" >Users</a>
        <a class="btn light-blue darken-4 z-depth-1"  style="float:right" ui-sref="login" ng-click="loginCtrl.logOut()">
            <i class="material-icons right">exit_to_app</i>Logout
        </a>
    </div>
    <div>        
        <ul class="row">
            <!--ng-hide="task.status == 0"-->
            <li class="col l12">
                <!--<td style="width:55%"><input type='text' ng-model="Tsearch.title" placeholder="Search by title" /></td>-->
                <span class="input-field light-blue-text text-darken-4 col l6">
                    <input type='text' ng-model="Tsearch.title" id="title"/>
                    <label for="title">Search by title</label>
                </span>
                <!--<td style="width:15%"><input type='text' ng-model="Tsearch.date" placeholder="Search by date"/></td>-->
                <span class="input-field light-blue-text text-darken-4 col l2">
                    <input type='text' ng-model="Tsearch.created" id="created"/>
                    <label for="created">Search by date: YYYY-MM-DD</label>
                </span>
                <!--            <td style="width:10%">
                                <select class="browser-default" ng-model="Tsearch.author" ng-options="user.id as user.login for user in taskCtrl.users" placeholder="users">
                                    <option value="">***</option>
                                </select>
                            </td>-->
                <span class="input-field light-blue-text text-darken-4 col l1">
                    <select class="browser-default" ng-model="Tsearch.author" 
                            ng-options="user.id as user.login for user in taskCtrl.users" 
                            id="users">
                        <option value="">***</option>
                    </select>
                </span>
                <!--            <td style="width:10%">
                                <select ng-model="Tsearch.assigner" ng-options="user.id as user.login for user in taskCtrl.users">
                                    <option value="">***</option>
                                </select>
                            </td>-->
                <span class="input-field light-blue-text text-darken-4 col l1">
                    <select class="browser-default" ng-model="Tsearch.assigner" ng-options="user.id as user.login for user in taskCtrl.users">
                        <option value="">***</option>
                    </select>
                </span>
                <span class="input-field light-blue-text text-darken-4 col l1">
                    <input type="checkbox" ng-model="showAll" ngTrueValue="0" naFalseValue="1" id="open_only">
                    <label for="open_only">Show closed</label>
                </span>
                <span class="input-field light-blue-text text-darken-4 col l1">
                    <label>Close task</label>
                </span>
                <!--        <tr class="sort">
                            <td ng-click="TsortType = 'title';
                                TsortReverse = !TsortReverse" style="width:55%">title</td>
                            <td ng-click="TsortType = 'created';
                                TsortReverse = !TsortReverse" style="width:15%">date</td>
                            <td ng-click="TsortType = 'author';
                                TsortReverse = !TsortReverse" style="width:10%">author</td>
                            <td ng-click="TsortType = 'assigner';
                                TsortReverse = !TsortReverse" style="width:10%">assigner</td>
                            <td style="width:5%">status</td>
                        </tr>-->
            </li>
        </ul>
    </div>
    <div>
        <ul class="row highlight">
            <!--ng-hide="task.status == 0"-->
            <li ng-repeat="task in taskCtrl.tasks| filter : Tsearch | orderBy: TsortType: TsortReverse" 
                ng-show="task.status==1 || showAll==1"
                class="col l12 highlight">
                <span ng-bind="task.title" class="col l6 "></span>
                <span class="col l2" ng-bind="taskCtrl.asDate(task.created) | date: 'dd MMM yyyy &nbsp; hh:mm'"></span>
                <span class="col l1" ng-bind="taskCtrl.asUser(task.author)"></span>
                <span class="col l1" ng-bind="taskCtrl.asUser(task.assigner)"></span>
                <span class="col l1" ng-bind="taskCtrl.asStatus(task.status)"></span>
                <span class="col l1">
                    <button ng-click="taskCtrl.closeTask(task.id);taskCtrl.getTasks();" class="btn-floating btn-small light-blue darken-4">
                        <i class="material-icons">check</i>
                    </button>
                </span>
            </li>
        </ul>
    </div>
    <div class="row">
        <form ng-submit="taskCtrl.putTask(taskCtrl.curTask);taskCtrl.getTasks();" class="col l12">
            <span class="input-field light-blue-text text-darken-4 col l6">
                <input type="text" ng-model="taskCtrl.curTask.title" id="addtask">
                <label for="addtask">Add task title</label>
            </span>
            <!--<select ng-options="user.id as user.login for user in taskCtrl.users" ng-model="taskCtrl.curTask.author" ></select>-->
            <select class="col l1 browser-default offset-l2" 
                    ng-options="user.id as user.login disable when user.is_deleted ==   1 for user in taskCtrl.users" 
                    ng-model="taskCtrl.curTask.author">
            </select>
            <select class="col l1 browser-default" 
                    ng-options="user.id as user.login disable when user.is_deleted ==   1 for user in taskCtrl.users" 
                    ng-model="taskCtrl.curTask.assigner" >
            </select>
            <span class="col l1 offset-l1">
                <button class="btn-floating btn-small light-blue darken-4" type="submit" value="" ng-disabled="taskCtrl.isDisabled()"><i class="material-icons">add</i></button>
            </span>
        </form>
    </div>
</div>