<!doctype html>
<html ng-app="TaskTracker">
    <head>
        <meta charset="utf-8">
        <title>Task Tracker</title>
        <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">-->
        <!--<link rel="stylesheet" href="css/app.css">-->

        <script src="node_modules/angular/angular.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>-->
        <script src="js/controller.js"></script>
        
    </head>    
    <body >

        <div class="content" ng-controller="FirstCtrl">
            Данные получаемые по ссылке http://bitrix.local/tasks: 
            
            <div ng-repeat="n in data">
                {{n | json}}
            </div>
            <hr>

            <button ng-click="getTask()">get tasks</button>
        </div>

    </body>
</html>